.handle-bar {
  justify-content: center;
  margin-right: 20px;
  text-align: center;
  width: auto;

  .handle-bar-group {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    clear: both;
    color: #2a56c6;
    float: left;
    padding: 2px;
    position: relative;
    text-align: center;

    &::before{
      content: '';
      padding: 2px;
      border-left: 1px solid #ececec;
      position: absolute;
      top:0;
      bottom: 0;
      height: 100%;
    }
  }
  
  .handle-bar-item {
    background: #eeeeee;
    border-radius: 36px;
    font-size: 16px;
    font-weight: 900;
    height: 36px;
    line-height: 36px;
    position: -webkit-sticky;
    position: sticky;
    top: 72px;
    text-align: center;
    width: 36px;
    will-change: transform;
  }
}